<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pend_balc">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.09592913111366E-05 3.50953248980184E-06 -0.106018505249408"
        rpy="0 0 0" />
      <mass
        value="1.27828364782122" />
      <inertia
        ixx="0.0130836184409299"
        ixy="-1.83858920537279E-06"
        ixz="-7.38672307685529E-07"
        iyy="0.0130344292609687"
        iyz="1.23687123986165E-07"
        izz="0.00645240733335972" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pend_balc/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pend_balc/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.0301520938840052 0.00574127526261402 -0.244186231517048"
        rpy="0 0 0" />
      <mass
        value="0.531173920073746" />
      <inertia
        ixx="0.00153298725990724"
        ixy="4.56827199914057E-09"
        ixz="-2.23504809922894E-07"
        iyy="0.00156021419392432"
        iyz="3.15177209459972E-05"
        izz="0.000220239352006378" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pend_balc/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pend_balc/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0 0 0.00575"
      rpy="1.6058 -1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="48"
      velocity="5.02" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="7.12498963484354E-06 0.134723718011967 4.1480123155746E-11"
        rpy="0 0 0" />
      <mass
        value="0.0695633295839153" />
      <inertia
        ixx="0.000427377358124669"
        ixy="6.24770748344296E-09"
        ixz="1.68762886762594E-14"
        iyy="1.04795791793258E-05"
        iyz="-4.05416456980495E-14"
        izz="0.000427230355689081" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pend_balc/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.847058823529412 0.847058823529412 0.847058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pend_balc/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="0.04625 0.0079902 -0.33991"
      rpy="-3.1416 1.5473 1.5708" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>